extends layout

block content
	h1 Alghayma | الغيمة
	br
	- if (posts)
		- for (post in posts)
			// TODO
	- else
		div(style='text-align: center')
			h4 This feed isn't backed up by Alghayma
			br
			button#backItUp.btn.btn-primary Back it up !
			div#messagePanel
		script.
			function getSearchKey(keyName){
				return decodeURI(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURI(sVar).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
			}
			backItUp.onclick = function(){
				var fData = new FormData();
				fData.append('sourceUrl', getSearchKey('sourceUrl'));
				var ajaxReq = new XmlHTTPRequest();
				ajaxReq.open('post', '/backup', true);
				ajaxReq.onload = function(){
					document.getElementById('messagePanel').textContent = '';
					var panelHeading = document.createElement('div');
					var panelBody = document.createElement('div');
					if (this.status == 200){
						//Request success
						$('#messagePanel').addClass('panel panel-success');
						panelHeading.textContent = 'Cool :)';
						panelHeading.className = 'panel-heading';
						panelBody.textContent = this.response;
						panelBody.className = 'panel-body';
						$('#messagePanel').append(panelHeading, panelBody);
					} else {
						//An error occured
						$('#messagePanel').addClass('panel panel-danger');
						panelHeading.textContent = 'Sorry, an error occured';
						panelHeading.className = 'panel-heading';
						panelBody.textContent = this.response;
						panelBody.className = 'panel-body';
						$('#messagePanel').append(panelHeading, panelBody);
					}
				};
				ajaxReq.send(fData);
			};
