extends layout

block content
	h1 Alghayma | الغيمة
	br
	- if (posts)
		h4 Here is what we have for #{feed.name}
		- for (post in posts)
			// TODO
		div#infiniteScrollTrigger(style="width: 100%")
		script.
			infiniteScrollTrigger.onmouseenter = function(){};
	- else
		div(style='text-align: center')
			h4#header This feed isn't backed up by Alghayma
			br
			button#backItUp.btn.btn-primary Back it up !
			br
			br
			div#messagePanel
		script.
			function getSearchKey(keyName){
				return decodeURI(window.location.search.replace(new RegExp("^(?:.*[&\\?]" + encodeURI(keyName).replace(/[\.\+\*]/g, "\\$&") + "(?:\\=([^&]*))?)?.*$", "i"), "$1"));
			}
			backItUp.onclick = function(){
				var fData = new FormData();
				var targetFeed = decodeURIComponent(getSearchKey('sourceUrl'));
				console.log('sourceUrl : ' + targetFeed);
				fData.append('sourceUrl', decodeURI(getSearchKey('sourceUrl')));
				var ajaxReq = new XMLHttpRequest();
				ajaxReq.open('post', '/backup', true);
				ajaxReq.setRequestHeader('enctype', 'application/x-www-form-urlencoded');
				ajaxReq.onload = function(){
					document.getElementById('messagePanel').textContent = '';
					var panelHeading = document.createElement('div');
					var panelBody = document.createElement('div');
					if (this.status == 200){
						//Request success
						$('#messagePanel').addClass('panel panel-success');
						panelHeading.textContent = 'Cool :)';
						panelHeading.className = 'panel-heading';
						panelBody.textContent = this.response;
						panelBody.className = 'panel-body';
						$('#messagePanel').append(panelHeading, panelBody);
					} else {
						//An error occured
						$('#messagePanel').addClass('panel panel-danger');
						panelHeading.textContent = 'Sorry, an error occured';
						panelHeading.className = 'panel-heading';
						panelBody.textContent = this.response;
						panelBody.className = 'panel-body';
						$('#messagePanel').append(panelHeading, panelBody);
					}
					$('#backItUp').css('display: none');
					$('#header').css('display: none');
					$('#messagePanel').append('<p id="redirectP">Redirecting to Alghayma homepage in 5 seconds. If it doesn\'t, click <a href="http://localhost:3000">here</a>.</p>');
					var intervalCount = 0;
					setInterval(function(){
						intervalCount++;
						$('#redirectP').html('Redirecting to Alghayma homepage in ' + (5 - intervalCount).toString() + ' seconds. If it doesn\'t, click <a href="http://localhost:3000">here</a>.');
						if (intervalCount == 5) window.history.back();
					}, 1000);
				};
				ajaxReq.send(fData);
			};
