extends layout

block content
		.logoHeader
			a(href="/")
				img(src="/images/alghayma-logo.png", width="400")
		br
		- if (posts && feed)
			.feed(ng-controller="TimelineCtrl")
				.feed-container
					h4#feedDescription #{feedDescription}
					.post-container(ng-repeat="post in posts track by $index", post, post-index="{{$index}}" id="post-{{$index}}" post-last="{{$last}}")
						.pointer
						.post-title
							img(ng-src="{{ profileImage }}")
							h4 {{ post.postText }}
								span  ({{ post.postDate | formatDate}})
						.post-picture
							img(ng-src="{{ post.picture }}")
						.post-link
							a(href="javascript:;", ng-href="{{post.permalink}}") Link to post

					.feed-more(infinity-scroll)
						| &#8595; More

					script.
						var feedId = #{feed.id},
						feedDescriptionItem = document.getElementById('feedDescription'),
						dateStr = '#{feed.lastBackup}',
						profileImage = '#{feed.profileImage}';

		- else

			div.message-box(ng-controller="MessageCtrl")
				div#messagePanel(class="message-{{response.type}}")
					| {{response.message}}
				h4#header This feed isn't backed up by Alghayma
				button.button-blue#backItUp(ng-click="backUpRequest()") Back it up !
