extends layout

block content
	.container
		.logoHeader
			img(src="/images/alghayma-logo.png", width="400")
		br
		.instruction
			| Paste a Facebook page address to back it up
			br
			| Go back in time if it has been deleted
		p.example
			a(href="https://www.alghayma.com/fb/p?sourceUrl=https%3A%2F%2Fwww.facebook.com%2Fkafrev") See a live example
		form(action="/fb/p", method="get", role="form", style="text-align: center")
			input#searchBox(type="url", placeholder="http://www.facebook.com/kafrev", name="sourceUrl")
			br
			button.button-blue#searchButton(type="submit") Go

		#socialButtons(style="text-align: center; width: 100%")
			.tweet-button
				a.twitter-follow-button(href="https://twitter.com/Alghayma", data-show-count="true", data-lang="en") Follow @Alghayma
			.fb-like(data-href="https://facebook.com/TheAghayma", data-layout="button_count", data-action="like", data-show-faces="false", data-share="true")
		div#fb-root
		div.links-list(style="margin-top: 50px")
			a(href="https://github.com/Alghayma/Alghayma/wiki/How-to-use-Alghayma") Help
			a(href="https://github.com/Alghayma/Alghayma/wiki/%D9%83%D9%8A%D9%81%D9%8A%D8%A9-%D8%A5%D8%B3%D8%AA%D8%B9%D9%85%D8%A7%D9%84-%D8%A7%D9%84%D8%BA%D9%8A%D9%85%D8%A9") مساعدة
		script.
			//Sorry, this is dirty. External API dynamic import method
			function importApi(d, s, id, url){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = url;
				fjs.parentNode.insertBefore(js, fjs);
			}
			//Adding the FB SDK
			importApi(document, 'script', 'facebook-jssdk', '//connect.facebook.net/en_US/all.js#xfbml=1&appId=1409398265974507');
			//Adding Twitter widgets
			importApi(document, 'script', 'twitter-wjs', '//platform.twitter.com/widgets.js');
	footer
		a(href="http://alghayma.github.io/Alghayma") Learn more about Alghayma
