extends layout

block content
	.logoHeader
		img(src="/images/alghayma-logo.png", width="400")
	br
	form(action="/fb/p", method="get", role="form", style="text-align: center")
		input#searchBox(type="url", placeholder="Paste a Facebook page address to back it up or go back in time if it has been deleted", name="sourceUrl")
		br
		button#searchButton(type="submit") Go