doctype html
html
	head
		title= title
		//link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/all.css')
		link(rel='stylesheet', href='/stylesheets/timeline.css')
		link(rel='stylesheet', href='/stylesheets/fb-buttons.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery-2.0.3.min.js')
		//script(src='/javascripts/bootstrap.min.js')
	body
		block content