extends layout

block content
	h1 Alghayma | الغيمة
	br
	div(style='text-align: center; font-size: 28px')
		| #{message}
		br
		br
		button#backButton.btn.btn-primary Back
	script.
		backButton.onclick = function(){
			window.history.back();
		};