extends layout

block content
	.logoHeader
		img(src="/images/alghayma-logo.png", width="400")
	br
	div(style='text-align: center; font-size: 28px')
		| #{message}
		br
		br
		button#backButton.btn.btn-primary Back
	- if (goHome)
		script.
			backButton.textContent = 'Home';
			backButton.onclick = function(){
				window.location = 'http://localhost:3000';
			}
	- else
		script.
			backButton.onclick = function(){
				window.history.back();
			};