extends layout

block content
	.logoHeader
		img(src="/images/alghayma-logo.png", width="400")
	br
	div(style='text-align: center; font-size: 28px')
		| #{message}
		br
		br
	- if (goHome)
		a(href="/")
			button#backButton Home
	- else
		button#backButton Back
		script.
			backButton.onclick = function(){
				window.history.back();
			};