body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: #00B7FF

#infiniteScrollTrigger
	background-color: silver
	border-radius: 50px
	left: 20%
	right: 20%
	text-align: center
	height: 24px
	padding-top: 4px
	padding-bottom: 4px
	margin-top: 24px

#infiniteScrollTrigger:hover
	background-color: darkgray

.post
	border-width: 0px
	border-bottom-width: 1px
	border-color: black
	border-style: solid
	margin-top: 10px
	margin-bottom: 10px

.post > .imageHolder
	text-align: center

.link
	padding-top: 5px
	padding-bottom: 5px

.postPicture
	width: 100%
	padding-top: 5px