/*
* Common to all pages
*/
html
	margin:0
	padding:0
	height:100%
	background-color: white

body
	background-color: white

a
	color: #00B7FF

footer
	position:absolute
	bottom:0
	width:100%
	height:60px   /* Height of the footer */
	background:#f2f2f2
	text-align: center
	vertical-align: middle
	line-height:60px
	font-size: 20px
	color: #78bfe5

.logoHeader
	margin: 40px 0px 20px
	text-align: center

.logoHeader > img
	width: 400px

.button-blue
	background-color: #78bfe5
	border: 3px solid #4E90CE
	border-radius: 5px
	width: 100%
	font-size: 18px
	padding: 10px
	color: white
	width: 100%
	margin: 10px auto // Center
/*
* Specific to the homepage
*/
.container
	#searchButton, #searchBox, .instruction
		max-width: 500px

.instruction
	text-align: center
	font-size: 16px
	margin: 40px auto 20px auto
	max-width: 500px;

#searchBox
	width: 100%
	border: 3px solid silver
	border-radius: 5px
	padding: 10px
	font-size: 16px
	-webkit-font-smoothing: antialiased
	background: transparent
	outline: none // Removes the blue glow
	margin: 0 auto // Center
	box-sizing: border-box

#searchBox:focus
	border-color: black

#socialButtons
	padding-top: 50px

#socialButtons > div
	display: block
	padding: 3px

.example
	text-align: center
	color: gray
	font-size: 16px

/*
* Specific to the feed page
*/

.feed
	background-color: rgb(238,238,238)
	padding-top: 40px
	border-top: 1px solid rgb(218,218,218)

.feed-container
	width: 901px
	margin: 0 auto
	background: url('../images/line.png') top repeat-y

.feed-more
	clear: both
	border: 1px solid rgb(218,218,218)
	border-radius: 10px
	background: #f1f1f1
	left: 20%
	right: 20%
	text-align: center
	height: 24px
	line-height: 24px
	padding-top: 4px
	padding-bottom: 4px
	margin: 24px 10px 10px 10px;

.pointer
	top: 10px

.post-container.left .pointer
	background: url('../images/icons-4.png') -41px -28px no-repeat;
	width: 19px;
	height: 15px;
	position: relative
	left: 415px
	z-index: 100

.post-container.left .pointer
	background: url('../images/icons-4.png') -41px -28px no-repeat;
	width: 19px;
	height: 15px;
	position: relative
	left: 414px

.post-container.right .pointer
	background: url('../images/icons-4.png') -41px -28px no-repeat
	width: 19px
	height: 15px
	left: -29px
	right: auto
	background-position: -61px -28px
	position: relative

#feedDescription
	padding: 10px 0px
	border: 1px solid rgb(218,218,218)
	width: 881px
	margin: 0 auto
	-webkit-border-radius: 5px
	-moz-border-radius: 5px
	border-radius: 5px
	margin-bottom: 20px
	text-align: center
	color: #646464
	background: white
	font-weight: 400

#theEndBanner
	font-size: 32px
	width: 100%
	text-align: center
	display: none

#infiniteScrollTrigger:hover
	background-color: darkgray

#ajaxLoaderGif
	height: 22px
	width: 22px

.link
	padding-top: 5px
	padding-bottom: 5px

.imageUnit-content > p > a
	color: darkgray

.postPicture
	width: 100%
	padding-top: 5px

.left
	float: left
	clear: left

.right
	float: right
	clear: right

.post-container
	width: 404px
	display: inline-block
	margin: 10px
	background: #fff
	padding: 0px 10px 10px 10px;
	border: 1px #C4CDE0 solid
	border-radius: 3px

	.post-title
		img
			width: 50px
			height: 50px
		h4
			width: 340px
			padding-left: 10px
			height:50px

		img, h4
			display: inline-block
		span
			color: rgb(160, 160, 160)
			font-weight: 200

	.post-picture
		margin-top: 20px;
		width:400px
		img
			width: 400px

	.post-link
		padding-top: 10px
		font-size: 14px;
		text-align: center;
		font-family: 'Helvetica'
		border-top: 1px solid #c4cde0
		a
			color: #3B5998

.message-box
	max-width: 500px
	padding: 30px 30px 10px
	margin: 0 auto
	text-align: center
	border: 3px solid silver
	-webkit-border-radius: 8px
	-moz-border-radius: 8px
	border-radius: 8px
	font-size: 16px

.message-success
	padding: 10px
	border-radius: 5px
	background: rgb(135, 219, 135)
	margin-bottom: 30px
	color: green

.message-error
	padding: 10px
	border-radius: 5px
	background: #F17373
	margin-bottom: 30px
	color: #9B3B3B

/*
* Specific to the search result page
*/

#resultsHeader
	text-align: center

#resultsList
	border-style: solid
	border-width: 0px
	border-top-width: 1px
	border-color: black

.result
	border-style: solid
	border-width: 0px
	border-bottom-width: 0px
	border-color

.profileImage
	width: 32px

.feedPresentation
	display: inline-block
	overflow: scroll
