/*
* Common to all pages
*/
html
	margin:0
	padding:0
	height:100%
	background-color: white

body
	background-color: white

#container
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
	color: #00B7FF

footer
	position:absolute
	bottom:0
	width:100%
	height:60px   /* Height of the footer */
	background:#f2f2f2
	text-align: center
	vertical-align: middle
	line-height:60px
	font-size: 30px
	color: #78bfe5

.logoHeader
	margin-bottom: 20px
	text-align: center

.logoHeader > img
	width: 400px

button
	background-color: #78bfe5
	border-width: 1px
	border-style: solid
	border-radius: 3px
	height: 32px
	margin: 4px
	color: white
	border-color: black
	min-width: 75px

/*
* Specific to the homepage
*/
#searchBox
	width: 600px
	border-radius: 2px
	border-style: solid
	border-width: 1px
	border-color: silver
	height: 25px
	margin-bottom: 10px

/*
* Specific to the feed page
*/
#theEndBanner
	font-size: 32px
	width: 100%
	text-align: center
	display: none

#infiniteScrollTrigger
	background-color: silver
	border-radius: 50px
	left: 20%
	right: 20%
	text-align: center
	height: 24px
	padding-top: 4px
	padding-bottom: 4px
	margin-top: 24px

#infiniteScrollTrigger:hover
	background-color: darkgray

#ajaxLoaderGif
	height: 22px
	width: 22px

.link
	padding-top: 5px
	padding-bottom: 5px

.imageUnit-content > p > a
	color: darkgray

.postPicture
	width: 100%
	padding-top: 5px

/*
* Specific to the search result page
*/

#resultsHeader
	text-align: center

#resultsList
	border-style: solid
	border-width: 0px
	border-top-width: 1px
	border-color: black

.result
	border-style: solid
	border-width: 0px
	border-bottom-width: 0px
	border-color

.profileImage
	width: 32px

.feedPresentation
	display: inline-block
	overflow: scroll
