/*
* Common to all pages
*/
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
}
body {
  background-color: #fff;
}
a {
  color: #00b7ff;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
/* Height of the footer */
  background: #f2f2f2;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  font-size: 20px;
  color: #78bfe5;
}
.logoHeader {
  margin: 40px 0px 20px;
  text-align: center;
}
.logoHeader > img {
  width: 400px;
}
.button-blue {
  background-color: #78bfe5;
  border: 3px solid #4e90ce;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  color: #fff;
  width: 100%;
  margin: 10px auto;
}
/*
* Specific to the homepage
*/
.container #searchButton,
.container #searchBox,
.container .instruction {
  max-width: 500px;
}
.instruction {
  text-align: center;
  font-size: 16px;
  margin: 40px auto 20px auto;
  max-width: 500px;
}
#searchBox {
  width: 100%;
  border: 3px solid #c0c0c0;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  background: transparent;
  outline: none;
  margin: 0 auto;
  box-sizing: border-box;
}
#searchBox:focus {
  border-color: #000;
}
#socialButtons {
  padding-top: 50px;
}
#socialButtons > div {
  display: block;
  padding: 3px;
}
.example {
  text-align: center;
  color: #808080;
  font-size: 16px;
}
.links-list {
  text-align: center;
}
.links-list > a {
  margin-left: 4px;
  margin-right: 4px;
}
/*
* Specific to the feed page
*/
.feed {
  background-color: #eee;
  padding-top: 40px;
  border-top: 1px solid #dadada;
}
.feed-container {
  width: 901px;
  margin: 0 auto;
  background: url("../images/line.png") top repeat-y;
}
.feed-more {
  clear: both;
  border: 1px solid #dadada;
  border-radius: 10px;
  background: #f1f1f1;
  left: 20%;
  right: 20%;
  text-align: center;
  height: 24px;
  line-height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 24px 10px 10px 10px;
}
.pointer {
  top: 10px;
}
.post-container.left .pointer {
  background: url("../images/icons-4.png") -41px -28px no-repeat;
  width: 19px;
  height: 15px;
  position: relative;
  left: 415px;
  z-index: 100;
}
.post-container.left .pointer {
  background: url("../images/icons-4.png") -41px -28px no-repeat;
  width: 19px;
  height: 15px;
  position: relative;
  left: 414px;
}
.post-container.right .pointer {
  background: url("../images/icons-4.png") -41px -28px no-repeat;
  width: 19px;
  height: 15px;
  left: -29px;
  right: auto;
  background-position: -61px -28px;
  position: relative;
}
#feedDescription {
  padding: 10px 0px;
  border: 1px solid #dadada;
  width: 881px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
  color: #646464;
  background: #fff;
  font-weight: 400;
}
#theEndBanner {
  font-size: 32px;
  width: 100%;
  text-align: center;
  display: none;
}
#infiniteScrollTrigger:hover {
  background-color: #a9a9a9;
}
#ajaxLoaderGif {
  height: 22px;
  width: 22px;
}
.link {
  padding-top: 5px;
  padding-bottom: 5px;
}
.imageUnit-content > p > a {
  color: #a9a9a9;
}
.postPicture {
  width: 100%;
  padding-top: 5px;
}
.left {
  float: left;
  clear: left;
}
.right {
  float: right;
  clear: right;
}
.post-container {
  width: 404px;
  display: inline-block;
  margin: 10px;
  background: #fff;
  padding: 0px 10px 10px 10px;
  border: 1px #c4cde0 solid;
  border-radius: 3px;
}
.post-container .post-title img {
  width: 50px;
  height: 50px;
}
.post-container .post-title h4 {
  width: 340px;
  padding-left: 10px;
  height: 50px;
}
.post-container .post-title img,
.post-container .post-title h4 {
  display: inline-block;
}
.post-container .post-title span {
  color: #a0a0a0;
  font-weight: 200;
}
.post-container .post-picture {
  margin-top: 20px;
  width: 400px;
}
.post-container .post-picture img {
  width: 400px;
}
.post-container .post-link {
  padding-top: 10px;
  font-size: 14px;
  text-align: center;
  font-family: 'Helvetica';
  border-top: 1px solid #c4cde0;
}
.post-container .post-link a {
  color: #3b5998;
}
.message-box {
  max-width: 500px;
  padding: 30px 30px 10px;
  margin: 0 auto;
  text-align: center;
  border: 3px solid #c0c0c0;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  font-size: 16px;
}
.message-success {
  padding: 10px;
  border-radius: 5px;
  background: #87db87;
  margin-bottom: 30px;
  color: #008000;
}
.message-error {
  padding: 10px;
  border-radius: 5px;
  background: #f17373;
  margin-bottom: 30px;
  color: #9b3b3b;
}
/*
* Specific to the search result page
*/
#resultsHeader {
  text-align: center;
}
#resultsList {
  border-style: solid;
  border-width: 0px;
  border-top-width: 1px;
  border-color: #000;
}
.result {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 0px;
border-color
}
.profileImage {
  width: 32px;
}
.feedPresentation {
  display: inline-block;
  overflow: scroll;
}
