body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#infiniteScrollTrigger {
  background-color: #c0c0c0;
  border-radius: 50px;
  left: 20%;
  right: 20%;
  text-align: center;
  height: 24px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 24px;
}
#infiniteScrollTrigger:hover {
  background-color: #a9a9a9;
}
.post > .imageHolder {
  text-align: center;
}
.link {
  padding-top: 5px;
  padding-bottom: 5px;
}
.postPicture {
  width: 100%;
  padding-top: 5px;
}
